<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsitm.mydata.api.v1.insu.insurances.basic.InsuBasicListMapper">

    <select
        id="findAll"
        parameterType="InsuBasicDto"
        resultType="InsuBasicDto">
        SELECT 
			insured_no
			, insured_name
		FROM 
			mydata.insu_contract
		WHERE
			org_code = #{orgCode}
    </select>

</mapper>