<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsitm.mydata.system.member.detail.MemberDetailListMapper">

    <!-- member_detail 회원조회 -->
    <select
        id="findAll"
        resultType="MemberDetailListDto">
        SELECT client_id
             , birth
             , name
             , hp
        FROM member_detail
    </select>
    
    <!-- member_detail 회원삭제 -->
    <delete id="delete" parameterType="String">
        DELETE FROM member_detail WHERE client_id = #{clientId}
    </delete>
    
    <!-- member 회원삭제 -->
    <delete id="deleteMember" parameterType="String">
        DELETE FROM member WHERE client_id = #{clientId}
    </delete>
    
    <!-- member 회원추가 -->
    <insert id="addMember" parameterType="MemberDetailListDto">
    	INSERT INTO member VALUES (#{clientId},'','','','',0,'','')
    </insert>
    
    <!-- member_detail 회원추가 -->
    <insert id="addMemberDetail" parameterType="MemberDetailListDto">
    	INSERT INTO member_detail VALUES (#{birth}, #{name}, #{hp}, #{clientId})
    </insert>
    
    
    <!-- member_detail 중복아이디 갯수 조회 -->
    <select id="countId" resultType="Int" parameterType="hashmap">
        SELECT 
        	COUNT(*) as cnt
        FROM 
        	member_detail 
        WHERE 
        	client_id = #{clientId}
    </select>
    
    <!-- member 중복아이디 갯수 조회 -->
    <select id="countIdMember" resultType="Int" parameterType="hashmap">
        SELECT 
        	COUNT(*) as cnt
        FROM 
        	member
        WHERE 
        	client_id = #{clientId}
    </select>
    
    <!-- 동의회원 가입 정보 유무 확인 -->
    <select id="findHavingClient" resultType="Int"  parameterType="hashmap">
        SELECT 
        	count(client_id) 
        FROM 
        	member_detail 
        WHERE 
        	birth = #{birth} 
        	AND name = #{name} 
        	AND hp = #{hp}
    </select>

</mapper>