<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsitm.mydata.api.support.token.TokenRequestMapper">

    <select
        id="findOneByOrgCodeForCentralPortal"
        resultType="CredentialDto"
        parameterType="CredentialDto">
        select a.*
        from credential a
        where org_code = #{orgCode}
          and type_id = #{typeId}
    </select>

</mapper>